{{ define "main" -}}
    <section class="transformer-section p-3 p-lg-5 d-flex d-column" id="about">
      <div class="my-auto">
        <h1 class="mb-0">Tom
          <span class="text-primary">Broughton</span>
        </h1>
        <div class="subheading mb-5">Building Resilient Value-Driven Organisations · UK: 07717 726 487 ·
          <a href="mailto:tom.a.broughton@gmail.com">tom.a.broughton@gmail.com</a>
        </div>
        <p class="mb-5">
          I'm a business and technology transformation consultant, driven by a desire to effect positive change in the world. Using tools and techniques developed during the course of a career working in the public sector and large tech industries, I offer consultation, facilitation and coaching, building resilience in organisations where people and passion combine with technology. I am independent, impartial and value-driven.
        </p>
        <ul class="list-inline list-social-icons mb-0">
          <li class="list-inline-item">
            <a href="https://twitter.com/dpolymath">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/thomasalanbroughton">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </section>

    <section class="transformer-section p-3 p-lg-5 d-flex flex-column" id="services">
      <div class="my-auto">
        <h2 class="mb-5">Services</h2>
        <p>Transformation definition, management and support: I work collaboratively across all functions in an organisation to identify and enable more cost-effective and sustainable approaches to delivery.</p>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-heartbeat text-primary"></i>
            <strong>Critical friend review</strong> - embedded risk and assurance: advising and making recommendations for pro-active intervention and transformation opportunities.</li>
          <li>
            <i class="fa-li fa fa-trophy text-primary"></i>
            <strong>Goal setting and empirical roadmapping</strong> - defining programmes of change based on value-driven objectives which have the scope to flex as new opportunities and threats emerge. </li>
          <li>
            <i class="fa-li fa fa-flask text-primary"></i>
            <strong>Innovation integration</strong> - assisting with the design of "safe to fail" experiments and the integration of successful prototypes into core products and services.</li>
          <li>
            <i class="fa-li fa fa-users text-primary"></i>
            <strong>Skills gap analysis and capability support</strong> - using my experience of developing digital, data and technology solutions, I advise on the skills required at specific phases of delivery. I coach and mentor existing staff and support hiring managers with the recruitment of specialists.</li>
          <li>
            <i class="fa-li fa fa-eye text-primary"></i>
            <strong>Governance and evolving operating models</strong> - developing governance and operating models that enable and empower teams through timely and appropriate decision-making and action to manage change across the "how" elements of organisational success.</li>
          <li>
            <i class="fa-li fa fa-cogs text-primary"></i>
            <strong>Technical analysis and solution evaluation</strong> - impartial review of technical proposals during commissioning and of technical specifications for delivery teams.</li>
        </ul>
      </div>
    </section>

    <section class="transformer-section p-3 p-lg-5 d-flex flex-column" id="experience">
      <div class="my-auto">
        <h2 class="mb-5">Experience</h2>
        <div class="mb-5">
          <p>I am a creative technologist specialising in business transformation. I have over 15 years’ experience defining and delivering digital, data and technology products and services. Through this work I have developed highly effective approaches to delivery, in line with business values and user needs. I facilitated transformation in large organisations in the public sector using technology as a vehicle and taking a holistic approach to change.</p>
        </div>

        <div class="transformer-item mb-5">
          <div class=" d-flex flex-column flex-md-row">
            <h3 class="mb-0 mr-auto">Transformation Consultant</h3>
            <div class="transformer-date text-md-right">
              <span class="text-primary">November 2017 - Present</span>
            </div>
          </div>
          <div class="subheading mb-1">National Trust</div>
          <p>Working with the Risk and Assurance function of the National Trust as a "critical friend" across ongoing programmes of work. Recommendations lead to proactive intervention to address emerging problems and issues.</p>
        </div>

        <div class="transformer-item mb-5">
          <div class=" d-flex flex-column flex-md-row">
            <h3 class="mb-0 mr-auto">Senior Technology Advisor</h3>
            <div class="transformer-date text-md-right">
              <span class="text-primary">October 2015 - Present</span>
            </div>
          </div>
          <div class="subheading mb-1">Cabinet Office - HM Government</div>
          <p>Advisor in the Government Digital Service working across all UK Government departments and agencies to advise directors and senior management on transformation plans and to build and support internal capacity to deliver public services.</p>
        </div>

        <div class="transformer-item mb-5">
          <div class=" d-flex flex-column flex-md-row">
            <h3 class="mb-0 mr-auto">Senior Technical Architect</h3>
            <div class="transformer-date text-md-right">
              <span class="text-primary">September 2010 - September 2015</span>
            </div>
          </div>
          <div class="subheading mb-1">BBC</div>
          <p>Member of leadership team transforming the BBC's digital products, culture and working practices. Defined professions and career paths for digital delivery as discipline lead for Technical Architecture and designed course content for MSc Software Engineering degrees for staff retention. Recruited and led teams across multiple locations to deliver BBC homepage, search and navigation technologies. I balanced delivery with innovation leading on the first BBC Connected Studio events, bringing in external expertise to experiment with the BBC homepage. Introduced use of cloud (AWS) for public-facing BBC services that set a precedent for all BBC online products and services.</p>
        </div>

        <div class="transformer-item mb-5">
          <div class=" d-flex flex-column flex-md-row">
            <h3 class="mb-0 mr-auto">Technical Project Manager</h3>
            <div class="transformer-date text-md-right">
              <span class="text-primary">June 2008 - September 2010</span>
            </div>
          </div>
          <div class="subheading mb-1">BBC</div>
          <p>Led teams to deliver BBC Online projects for Vision (TV) and Learning. Evolved project management and technical direction, proving benefits of cohesive and agile teams. Key audience projects I delivered included BBC Bitesize (Learning), Wildlife Finder (Natural History Unit), BBC Food (Vision) and various innovation projects developing future media and learning formats.</p>
        </div>

        <div class="transformer-item mb-5">
          <div class=" d-flex flex-column flex-md-row">
            <h3 class="mb-0 mr-auto">Developer (Lead)</h3>
            <div class="transformer-date text-md-right">
              <span class="text-primary">March 2000 - June 2008</span>
            </div>
          </div>
          <div class="subheading mb-1">Various (inc. Microsoft, NHS, Eat)</div>
          <p>Many projects working for large companies, SMEs and start-up initiatives designing and delivering web applications and database solutions. My work varied from an internship at Microsoft working on MSN Messenger to developing and supporting radiology patient management systems for the NHS. Working with online services at an embryonic time for the web kept me at the coalface of emerging digital technologies.</p>
        </div>


      </div>
    </section>

    <section class="transformer-section p-3 p-lg-5 d-flex flex-column" id="projects">
      <div class="my-auto">
        <h2 class="mb-5">Personal Projects</h2>
        <p class="mb-5">
          I believe that to offer the best services it is important for me to continue developing my own technology and product development interests. My projects are based on my core values and aim to address social and/or ecological problems.
        </p>
        <div class="transformer-item d-flex flex-column flex-md-row mb-5">
          <div class="transformer-content mr-auto">
            <h3 class="mb-0">Adventure Labs</h3>
            <div class="subheading mb-3"><a href="http://www.adventurelabs.co.uk/">www.adventurelabs.co.uk<a></div>
            <p>Adventure Labs aims to sow the seeds to grow the next generation of environmentally-aware creative technologists who will invent solutions to manage our precious natural resources and enable us to live within our ecological limits. I'm developing cross-curricular educational workshops and games in an outdoor adventure setting.</p>
          </div>
        </div>

        <div class="transformer-item d-flex flex-column flex-md-row">
          <div class="transformer-content mr-auto">
            <h3 class="mb-0">Give 1-in-10</h3>
            <div class="subheading mb-3">In Development</div>
            <p>Bringing expertise from the private sector to benefit causes of the third sector: Give 1-in-10 is an idea based on innovation events and projects through which companies demonstrate commitment to corporate social responsibility by offering their skills to associated charities and public sector organisations. I am working on the first events and pilots for this initiative.  If you would like to know more, please get in touch.</p>
          </div>
        </div>
      </div>
    </section>
{{- end }}
